body {
    text-align: center;
}

.gallery {
    display: inline;
    width: 100%;
}

img {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 5px;
}


.gallery img {
    transition: .5s ease;
}

.gallery:hover img {
    transform: scale(2);
}